.crd-product-tb{

    height: fit-content;
    margin: 45px 40px 40px;

    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    /*background-color: magenta;*/
    border-radius: 20px;
    border-style: solid;
    border-color: silver;
    /*box-shadow: silver;*/

}
.crd-product-tb:hover{
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.main-div {
    height: 450px;

}
.crd-product-title{
    font-size: 36px;
    margin-left: 30px;
    margin-top: 20px;
}
.product-table{


    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
    /*margin-top: 20px;*/
    margin: 40px auto 30px auto;
    width:1300px;
/*max-width: fit-content;*/


    /*border-style: solid;*/



}

.add-product:hover{
    /*margin-left: 200px;*/
    margin-top: 10px;
    margin-left: 20px;
    width: 150px;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px;
    background-color: #1836d2;
    border: 2px solid #1836d2;
    color:white;

}

.add-product{
    /*margin-left: 200px;*/
    margin-top: 10px;
margin-right:50px;
    width: 150px;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid #1836d2;
    color:#1836d2;

}

.cart-icn:hover{
    /*margin-left: 200px;*/
    margin-top: 10px;
    margin-left:300px;
    width: 60px;
    height: 50px;
    font-weight: 500;
    font-size: 24px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid #1836d2;
    color:#1836d2;

}

.cart-icn{
    /*margin-left: 200px;*/
    margin-top: 10px;
    margin-left:300px;
    width: 60px;
    height: 50px;
    font-weight: 500;
    font-size: 24px;
    border-radius: 10px;
    background-color: #1836d2;
    border: 2px solid #1836d2;
    color:white;

}



.wrapper-div {
    background-color: white;
    padding: 25px;
}

.detail-box-section {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 130px auto;
}

.detail-group-left-title {
    font-weight: 500;
    color: white;
    padding: 10px 20px;
    border-radius: 10px 0 0 10px;
    border: 2px solid #1836d2;
    background-color: #1836d2;
}

.detail-group-right-text {
    font-weight: 500;
    color: #707070;
    padding: 10px 20px;
    border-radius: 0 10px 10px 0;
    border: 2px solid #1836d2;
    width: 100%;
}

.add-product-btn{
    width: 200px;
    height: 50px;
    background-color: #1836d2;
    border: 2px solid #1836d2;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}
.add-product-btn:hover{
    width: 200px;
    height: 50px;
    background-color:transparent;
    border: 2px solid #1836d2;
    border-radius: 10px;
    color: #1836d2;
    font-weight: 500;
}
.btn-logout{
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    color: white;
    width: 130px;
    height: 40px
}

.btn-logout:hover{
    background-color: white;
    border-style: solid;
    border-color: #1836d2;
    border-radius: 20px;
    color: #1836d2;
    width: 130px;
    height: 40px
}
.total-price{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}
.cnfrm-order-btn-corner{
    margin-left: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    /*width: 100px;*/
    /*height: 40px;*/
    /*background-color: #1836d2;*/
    /*color: white;*/
    /*border-radius: 10px;*/
}
.cnfrm-order-btn:hover{
    /*margin-right: 20px;*/
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
    width: 150px;
    height: 40px;
    background-color: transparent;
    color: #1836d2;
    border-style: solid;
    border-color: #1836d2;
    border-radius: 10px;
    font-weight: bold;
}

.cnfrm-order-btn{
    /*margin-right: 20px;*/
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
    width: 150px;
    height: 40px;
    background-color: #1836d2;
    color: white;
    border-style: solid;
    border-color: #1836d2;
    border-radius: 10px;
    font-weight: bold;
}
/*commit*/