# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\SLIIT\Y3 S2\Prejects\CSSE\implementation-walkthrough-2021s2_reg_we_29\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
